cookies.*
.vscode
blob_storage
webrtc_event_logs
unhandled_packet*
error.log
credentials.data
*.pyc
.venv
.debug.py
.pytest_cache
build
output
.idea
plugin-battlenet.spec
debug.log
sc2.json
wow.json
venv
.DS_Store
.mypy_cache/